main{
  height: 89.3vh;
}
.card{
  height: 250px;
  width: 270px;
  border: 0.5px solid;
  display: flex;
  flex-direction: column;
  gap: 8%;
  align-items: center;
  border-radius: 10px;
}
.card>img {
    border-radius: 10px;
    height: 70%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.card:hover{
  transition:  all .4s ease-in-out;
  transform: scale(1.20);
}
.logout{
  text-transform: uppercase;
    height: 50px;
    font-size: 19px;
    color: #fff;
    font-weight: 800;
    width:  130px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(255, 27, 27);
    border: 1px solid rgb(237, 241, 235);
    box-shadow: 5px 3px 3px rgb(234, 239, 239);
}
.retdash{
  text-transform: uppercase;
    height: 50px;
    font-size: 19px;
    color: #fff;
    font-weight: 800;
    width:  150px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(95, 25, 173);
    border: 1px solid rgb(74, 212, 20);
    box-shadow: 5px 5px 5px rgb(40, 180, 12);
}