main{
  height: 89.3vh;
}
.card{
  height: 250px;
  width: 270px;
  border: 0.5px solid;
  display: flex;
  flex-direction: column;
  gap: 8%;
  align-items: center;
  border-radius: 10px;
}
.card>img {
    border-radius: 10px;
    height: 70%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.card:hover{
  transition:  all .4s ease-in-out;
  transform: scale(1.20);
}