* {
    margin: 0;
    padding: 0;
}

nav {
    height: 10vh;
    width: 90vw;
    z-index: 1;
    padding: 0 100px;
    background-color: rgb(18, 19, 19);
    color: greenyellow;
}
nav > ul > li > a {
    color: chartreuse;
}

main {
    background: white;
    min-height: 97.7vh;
    height: auto;
}
.homemain{
    width: 99vw;
}
a{
    text-decoration: none;
}
.home {
    height: 100vh;
    text-shadow: 2px 2px rgb(68, 0, 255);
}

.Aboutus {
    padding-top: 10vh;
    /* border: 2px solid; */
    height: 90vh;
}
.Aboutus > p{
    padding: 0 160px;
    font-size: 20px;
}

.Services {
    padding-top: 10vh;
    /* border: 2px solid; */
    height: 90vh;
}

.contacts {
    padding-top: 10vh;
    /* border: 2px solid; */
    height: 25vh;
}

.cards {
    height: 250px;
    width: 270px;
    border: 0.5px solid;
    display: flex;
    flex-direction: column;
    gap: 8%;
    align-items: center;
    border-radius: 10px;
}

.cards:hover, .login:hover ,.logout:hover,.retdash:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.20);
}

.cards>img {
    border-radius: 10px;
    height: 70%;
    width: 100%;
    /* border: 2px solid; */
    object-fit: cover;
    overflow: hidden;
}

.login{
    text-transform: uppercase;
    margin-top: 2%;
    height: 50px;
    font-size: 19px;
    color: #fff;
    font-weight: 800;
    width:  130px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(95, 25, 173);
    border: 1px solid rgb(74, 212, 20);
    box-shadow: 10px 10px 5px rgb(4, 23, 29);
}