* {
    margin: 0;
    padding: 0;
}

.loginform {
    position: relative;
    padding-top: 50px;
    border: 2px solid black;
    height: 55vh;
    width: 35%;
    border-radius: 25px;
    backdrop-filter: blur(15px);
    box-shadow: black 4px 4px 10px;
}

form {
    border: none;
    height: 70%;
    width: 75%;
}

.lgform>input[type=email],.lgform>input[type=number],
.lgform>input[type=password] {
    width: 80%;
    height: 15%;
    border: none;
    border-radius: 10px;
    padding-left: 5%;
    box-shadow: black 4px 4px 10px;
}

.lgform>input[type=email]::placeholder,.lgform>input[type=number]::placeholder,
.lgform>input[type=password]::placeholder {
    color: #0f0f0f;
}
.lgform>input[name=otpemail],.lgform>input[name=otp],.lgform>input[name=otppassword]{
    width: 62%;
    height: 9%;
   position: absolute;
   top: 25%;
   left: 17%;
}
.lgform>input[name=otp]{
    top: 50%;
 }
 .lgform>input[name=otppassword]{
    top: 75%;
 }
.lgform>input[type=submit],.otp,.verify,.savechange{
    width: 35%;
    height: 12%;
    background-color: #0f0f0f;
    color: white;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: black 4px 4px 10px;
}
.otp{
  position: absolute;
  top: 38%;
  left: 36.5%;
  height: 7.5%;
  width: 28%;
}
.verify,.savechange{
  position: absolute;
  top: 62%;
  left: 36.5%;
  height: 7.5%;
  width: 28%;
}
.savechange{
    top: 87%;
  height: 7.7%;
  font-size: 1.3em;
}
.fogpasshead{
    position: absolute;
    top: 5%;
    left: 26%;
}
.senotp,#timeout{
    position: absolute;
    top: 17%;
    left: 42%;
    color: blue;
}
#timeout{
    left: 37%;
}
input[type=submit]:hover,.otp:hover , .verify:hover,.savechange:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.05);
}

.loading {
    position: absolute;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:455px){
    .loginform {
        padding-top: 50px;
        border: 1px solid black;
        height: 45vh;
        width: 80%;
        border-radius: 25px;
        backdrop-filter: blur(15px);
    }
}