.manual_address{
    height: 40vh;
    width: 28vw;
    position: absolute;
    left: 33.5vw;
    top: 20vh;
    background-color: rgb(236, 227, 227);
    z-index: 2;
    display: none;
}
.sheet{
    z-index: 1;
}
.sheetnav{
    display: flex;
    height: 10%;
    justify-content: space-between;
}
.sheetform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: 90%;
    width: 100%;
    border: 1px solid;
}