@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}
  .logo{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
  }
.home{
    background-image: url(./assets/texture2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Services{
    background-image: url(./assets/texture7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Aboutus{
    background-image: url(./assets/texture3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts{
    background-image: url(./assets/texture4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.lgbg{
    background: url(./assets/texture5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sup{
    background: url(./assets/texture1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.dash{
    background: url(./assets/texture6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}